{% extends 'post/index.html.twig' %}

{# @var pagination \Knp\Component\Pager\Pagination\AbstractPagination #}
{# @var post  \App\Entity\Post #}

{% block posts %}
<table class="table table-striped post-table mb-4">
    <tr>
        <th{% if pagination.isSorted('p.id') %} class="active" {% endif %}>
            {{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}
        </th>
        <th{% if pagination.isSorted('p.title') %} class="active" {% endif %}>
            {{ knp_pagination_sortable(pagination, 'Title', 'p.title') }}
        </th>
        <th{% if pagination.isSorted('p.createdAt') %} class="active" {% endif %}>
            {{ knp_pagination_sortable(pagination, 'Created', 'p.createdAt') }}
        </th>
    </tr>
    {% for post in pagination %}
    <tr{% if loop.index is odd%} class="post-table-odd" {% endif %}>
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.createdAt | date('F d, Y') }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
