{% extends 'page.html.twig' %}

{% block content %}
    <div>
        <h1>{{ post.title }}</h1>
        <span>{{ 'Created' | trans }}: {{ post.createdAt | date('Y/m/d') }}</span>
        <span>{{ 'Updated' | trans }}: {{ post.updatedAt | date('Y/m/d')}}</span>
        <p>{{ post.content }}</p>
    </div>
{% endblock %}
